*{
    margin: 0;
    padding: 0;
    /* background-color: yellow; */
    box-sizing: border-box;
}

body{
    /* width: 100%; */
    /* height: 100%; */
    background-color: yellow;
    text-align: center;
}

ol{
   margin-left: 32%;
    width: 500px;
}

h1{
    margin-top: 20px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;


}

.box{
    height:100px ;
    width: 100px;
    margin: 40px;
}

.x1{
    background-color: blueviolet;
    animation: box1 5s linear infinite;

}

@keyframes box1 {
    50%{
        transform: skewx(20deg);
    }

    100%{
        transform: skewx(-20deg);
    }
        
    
}

.x2{
    background-color: rgb(43, 171, 226);
    animation: box2 5s linear infinite;

}
@keyframes box2 {
    50%{
        transform: skewy(20deg);
    }

    100%{
        transform: skewy(-20deg);
    }
       
    
    
}

.x3{
    background-color: rgb(64, 226, 43);
    animation: box3 5s linear infinite;
}
@keyframes box3 {
    0%{
        transform: rotatez(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
       
    
    
}

.xx{
    background-color: blueviolet;
    animation: boxx 5s linear infinite;

}

@keyframes boxx{
    0%{
        transform: rotatex(80deg);
    }

    100%{
        transform: rotatex(-80deg);
    }
       
    
    
}

.xy{
    background-color: rgb(244, 19, 19);
    animation: boxy 5s linear infinite;
}


@keyframes boxy{
    0%{
        transform: rotatey(80deg);
    }

    100%{
        transform: rotatey(-80deg);
    }


} 
.xz{
    background-color: green;
    animation: boxz 5s linear infinite;
}

@keyframes boxz {
    0%{
        transform: rotatez(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
       
    
    
}

/* css of page 2 */

.containerpg2{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.block{
    height: 80px;
    width: 80px;
    background-color: darkgreen;
    margin: 10px;
    margin-left: 45%;



}
.b1:hover{
    transition:all 3s ease;
    width: 400px;

}
.b2:hover{
    transition:all 3s ease;
    width: 300px;
    height: 300px;

}
.b3:hover{
    transition:all 3s ease-in;
    width: 400px;

}

.b4:hover{
    transition:all 3s ease-out;
    width: 400px;

}

.b5:hover{
    transition:all 3s ease-in-out;
    width: 400px;

}

.b6:hover{
    transition:all 3s linear;
    width: 400px;

}
.b7:hover{
    transition:all 3s ease;
    width: 400px;

}
a:active{
      color: rgb(42, 147, 165);
}

a:visited{
    color:indigo;
}

a:hover{
    color: green;
}


/* css of page 3 */

.containerpg3{
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 0;
}
.heading{
    width: 100%;
    text-align: center;
    top: 0;
    z-index: 2;


}
span{
    margin: 5px;

}

.sky{
    height:700px;
    background-image: url(./sky.jpg);
    background-repeat: no-repeat;
    margin-top:-56px;
    border-top: 5px solid white;
    border-right: 5px solid green;
    border-bottom: 5px solid white;
    border-left: 5px solid orange

}

.city{
     background-image: url(./city.png); 
    width:99%;
    position: absolute;
    height: 230px;
    top: 165px;
    animation: road 3s linear infinite;

}

.sun{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 100px;
    right: 100px;
}

.road{
   background-image: url(./road.jpg);
   width: 110%;
   height:300px;
   position: absolute;
   margin-left: 3px;
   top: 395px;
   animation: road 3s linear infinite;
   z-index: 0;
   
}
@keyframes road {
    0%{
        transform: translatex(0);
    }
    100%{
        
        transform: translatex(-140px);
    }
    
}


.car{
    position: absolute;
    bottom: 20px;
    top: 400px;
    margin-left:35%;
    animation: car 0.5s linear infinite;

}
@keyframes car {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(2px);
    }
    
}

.w1{
    position: absolute;
    top: 504px;
    left: 485px;
    animation: wheel 1s linear infinite;
}
@keyframes wheel {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

.w2{
    position: absolute;
    top: 504px;
    left: 792px;
    animation: wheel 1s linear infinite;
}

.flag{
    position: absolute;
    bottom: 2px;
    left: 840px;
}




